<!DOCTYPE html>





<html lang="en">

<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  
    
    Shortcodes
  
 | Hugo Book</title>



<link rel="stylesheet" href="/https:/example.com/book.min.f4161f5e2de53a2e927f51df1611323a2a12cccb2681f23cb6fc3517852e8643.css">


<link rel="icon" href="/https:/example.com/favicon.png" type="image/x-icon">


<!--
Made with Book Theme
https://github.com/alex-shpak/hugo-book
-->

  
</head>

<body>
  <input type="checkbox" style="display: none" id="menu-control" />
  <main class="flex container">

    <aside class="book-menu fixed">
      <nav>
<h2 class="book-brand">
  <a href="/https://example.com/">Hugo Book</a>
</h2>



    
  
  
  

  <style>
  nav ul a[href$="\2fhttps\3a\2f example.com\2f docs\2fshortcodes\2f "] {
      color: #004ed0;
  }
  </style>

<ul>
<li><a href="/https:/example.com/"><strong>Introduction</strong></a></li>
<li><a href="/https:/example.com/docs/examples/">Examples</a>

<ul>
<li><a href="/https:/example.com/docs/with-toc/">With Table of Contents</a></li>
<li><a href="/https:/example.com/docs/without-toc/">Without Table of Contents</a></li>
<li><a href="/https:/example.com/docs/shortcodes/">Shortcodes</a><br /></li>
</ul></li>
<li><strong>More Examples</strong></li>
<li><a href="/https:/example.com/docs/server/">Server</a></li>
<li><a href="/https:/example.com/docs/client/">Client</a></li>
<li><a href="/https:/example.com/docs/advanced/">Advanced</a><br /></li>
<li><a href="/https:/example.com/posts/"><strong>Blog</strong></a></li>
</ul>





</nav>


  
<script>
(function() {
  var menu = document.querySelector('aside.book-menu nav')
  addEventListener('beforeunload', function(event) {
    localStorage.setItem('menu.scrollTop', menu.scrollTop)
  });
  menu.scrollTop = localStorage.getItem('menu.scrollTop')
})()
</script>



    </aside>

    <div class="book-page">
      <header class="align-center justify-between book-header">
  <label for="menu-control">
    <img src="/https:/example.com/svg/menu.svg" alt="Menu" />
  </label>
  <strong>
  
    
    Shortcodes
  
</strong>
</header>

      
<article class="markdown">

<h1 id="shortcodes">Shortcodes</h1>

<h2 id="expand-shortcode">Expand shortcode</h2>

<h3 id="default">Default</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tpl" data-lang="tpl"><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">expand</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
## Markdown content
Lorem markdownum insigne...
<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">expand</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span></code></pre></div>
<div class="book-expand">
  <label>
    <div class="book-expand-head flex justify-between">
      <span>Expand</span>
      <span>↕</span>
    </div>
    <input type="checkbox" style="display: none" />
    <div class="book-expand-content markdown-inner">
      <h2 id="markdown-content">Markdown content</h2>

<p>Lorem markdownum insigne&hellip;
    </div>
  </label>
</div>


<h3 id="with-custom-label">With Custom Label</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tpl" data-lang="tpl"><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">expand</span> <span style="color:#e6db74">&#34;Custom Label&#34;</span> <span style="color:#e6db74">&#34;...&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
## Markdown content
Lorem markdownum insigne...
<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">expand</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span></code></pre></div>
<div class="book-expand">
  <label>
    <div class="book-expand-head flex justify-between">
      <span>Custom Label</span>
      <span>...</span>
    </div>
    <input type="checkbox" style="display: none" />
    <div class="book-expand-content markdown-inner">
      <h2 id="markdown-content">Markdown content</h2>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.
    </div>
  </label>
</div>


<h2 id="buttons">Buttons</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tpl" data-lang="tpl"><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">button</span> <span style="color:#a6e22e">relref</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;/&#34;</span> <span style="color:#f92672">[</span><span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;...&#34;</span><span style="color:#f92672">]</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>Get Home<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">button</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">button</span> <span style="color:#a6e22e">href</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;https://github.com/alex-shpak/hugo-book&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>Contribute<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">button</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span></code></pre></div>
<p>



  

<a  href="/https:/example.com/"   class="book-btn">
  Get Home
</a>




  
  


<a  href="https://github.com/alex-shpak/hugo-book"   target="_blank"  class="book-btn">
  Contribute
</a>
</p>

<h2 id="tabs">Tabs</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tpl" data-lang="tpl"><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tabs</span> <span style="color:#e6db74">&#34;uniqueid&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;MacOS&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # MacOS Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;Linux&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # Linux Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;Windows&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # Windows Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tabs</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span></code></pre></div>




<div class="book-tabs">

  <input type="radio" name="tabs-uniqueid" style="display: none;" id="tabs-uniqueid-0" checked="checked" />
  <label for="tabs-uniqueid-0">
    MacOS
  </label>
  <div class="book-tabs-content markdown-inner">
    <h1 id="macos">MacOS</h1>

<p>This is tab <strong>MacOS</strong> content.</p>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>

  </div>

  <input type="radio" name="tabs-uniqueid" style="display: none;" id="tabs-uniqueid-1"  />
  <label for="tabs-uniqueid-1">
    Linux
  </label>
  <div class="book-tabs-content markdown-inner">
    <h1 id="linux">Linux</h1>

<p>This is tab <strong>Linux</strong> content.</p>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>

  </div>

  <input type="radio" name="tabs-uniqueid" style="display: none;" id="tabs-uniqueid-2"  />
  <label for="tabs-uniqueid-2">
    Windows
  </label>
  <div class="book-tabs-content markdown-inner">
    <h1 id="windows">Windows</h1>

<p>This is tab <strong>Windows</strong> content.</p>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>

  </div>

</div>


<h2 id="columns">Columns</h2>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">{{&lt; <span style="color:#f92672">columns</span> &gt;}} <span style="color:#75715e">&lt;!-- begin columns block --&gt;</span>
# Left Content
Lorem markdownum insigne...

&lt;<span style="color:#f92672">---</span>&gt; <span style="color:#75715e">&lt;!-- magic sparator, between columns --&gt;</span>

# Mid Content
Lorem markdownum insigne...

&lt;<span style="color:#f92672">---</span>&gt; <span style="color:#75715e">&lt;!-- magic sparator, between columns --&gt;</span>

# Right Content
Lorem markdownum insigne...
{{&lt; /<span style="color:#f92672">columns</span> &gt;}}</code></pre></div>
<div class="book-columns flex flex-wrap">
  
  <div class="flex-even markdown-inner">
    <h2 id="left-content">Left Content</h2>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.
  </div>
  
  <div class="flex-even markdown-inner">
    <h2 id="mid-content">Mid Content</h2>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter!
  </div>
  
  <div class="flex-even markdown-inner">
    <h2 id="right-content">Right Content</h2>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.
  </div>
  
</div>


<h2 id="mermaid-chart">Mermaid Chart</h2>

<div class="book-columns flex flex-wrap">
  
  <div class="flex-even markdown-inner">
    <div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tpl" data-lang="tpl"><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">mermaid</span> <span style="color:#f92672">[</span><span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;text-center&#34;</span><span style="color:#f92672">]&gt;</span><span style="color:#75715e">}}</span>
sequenceDiagram
    Alice-&gt;&gt;Bob: Hello Bob, how are you?
    alt is sick
        Bob-&gt;&gt;Alice: Not so good :(
    else is well
        Bob-&gt;&gt;Alice: Feeling fresh like a daisy
    end
    opt Extra response
        Bob-&gt;&gt;Alice: Thanks for asking
    end
<span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">mermaid</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span></code></pre></div>
  </div>
  
  <div class="flex-even markdown-inner">
    <script src="/https:/example.com/mermaid.min.js"></script>

<p class="mermaid">
  
sequenceDiagram
    Alice->>Bob: Hello Bob, how are you?
    alt is sick
        Bob->>Alice: Not so good :(
    else is well
        Bob->>Alice: Feeling fresh like a daisy
    end
    opt Extra response
        Bob->>Alice: Thanks for asking
    end
  </div>
  
</div>

</article>

      
<div class="book-footer justify-end">
  
  
  <div>
    <a href="https://github.com/alex-shpak/hugo-book/edit/master/exampleSite/content/docs/shortcodes.md" target="_blank" rel="noopener">
      <img src="/https:/example.com/svg/edit.svg" alt="Edit" /> Edit this page
    </a>
  </div>
  
</div>


      
    </div>

    
  

  <aside class="book-toc level-3 fixed">
    <nav id="TableOfContents">
<ul>
<li><a href="#shortcodes">Shortcodes</a>
<ul>
<li><a href="#expand-shortcode">Expand shortcode</a>
<ul>
<li><a href="#default">Default</a></li>
<li><a href="#with-custom-label">With Custom Label</a></li>
</ul></li>
<li><a href="#buttons">Buttons</a></li>
<li><a href="#tabs">Tabs</a></li>
<li><a href="#columns">Columns</a></li>
<li><a href="#mermaid-chart">Mermaid Chart</a></li>
</ul></li>
</ul>
</nav>
  </aside>



  </main>
  
  
  
</body>

</html>
